<div class="container">
    <div class="row search-card">
        <div class="col-sm-10 mx-auto">
            <div class="card search-card text-center">
                <h3>Find a Place to Eat</h3>
                <!-- Search form -->
                <form action="/search/name" method="get">
                    <div class="active-red mb-4">
                        <input type="text" class="form-control" name="searchname" placeholder="Restaurant Name" aria-label="Search">
                        <button type="submit"><span class="oi oi-magnifying-glass"></span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>