<div class="jumbotron text-center">
    <div id="carousel-yummy" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="images/easy-pepperoni-pizza-lead-4.jpg" alt="pepperoni pizza">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="images/20150909-nicoise-salad-vicky-wasik-9-1500x1125.jpg" alt="Second slide">
            </div>
        </div>
    </div>
</div>

{{>searchName}}
{{>searchMap}}