body {
  background-color: red;
}
a {
  color: #00B7FF;
}

/*--------------------NAVBAR--------------------*/
.navbar-collapse {
  width: fit-content;
}
.oi-underline {
  display: inline-block;
  height: 90%;
  vertical-align: middle;
}
.oi-underline + span {
  font-size: 20pt;
  margin-left: 10px;
}

.navbar-centerpiece {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.dropdown-menu {
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
  transform: rotateX(90deg);
  transform-origin: top;
  opacity: 0;
  display: block;
  width: 100%;
  border: none;
}
.show .dropdown-menu {
  opacity: 1;
  transform: rotateX(0deg);
  transform-origin: top;
  width: 100%;
  border: none;
}
.nav-item .dropdown-menu {
  font-size: large;
  width: fit-content;
}
/*------------------END NAVBAR--------------------*/

/*--------------------ICONS-----------------------*/
.oi {
  transform:scale(2.0,2.0);
  -ms-transform:scale(2.0,2.0); /* IE 9 */
  -moz-transform:scale(2.0,2.0); /* Firefox */
  -webkit-transform:scale(2.0,2.0); /* Safari and Chrome */
  -o-transform:scale(2.0,2.0); /* Opera */
}
/*-------------------END ICONS---------------------*/

/*-------------------LOGIN CSS---------------------*/
.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  text-align: center;
}
.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}
.card-signin .card-body {
  padding: 2rem;
}
.form-signin {
  width: 100%;
}
.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}
.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}
.form-label-group input {
  height: auto;
  min-height: 40px;
  border-radius: 2rem;
  text-align: center;
}
.form-label-group input:focus::placeholder {
  color: transparent;
}
.btn-google {
  color: white;
  background-color: #ea4335;
}
.btn-facebook {
  color: white;
  background-color: #3b5998;
}
/*----------------------END LOGIN---------------------*/

/*--------------------SEARCH CARDS---------------------*/
.search-card {
  padding: 10px;
}
.active-red input:focus:not([readonly]) {
  border: 1px solid black;
  box-shadow: 0 0 0 1px red;
}
.active-red input {
  border: 1px solid transparent;
  box-shadow: 0 0 0 1px black;
  float: left;
  width: 85%;
}
.active-red button {
  float: right;
  width: 10%;
  background: transparent;
  border: none;
  color: red;
  margin-top: 6px;
  margin-left: 5px;
}
.active-red button:hover {
  color: black;
}

/*-----------------END SEARCH CARDS--------------------*/

/*----------------JUMBOTRON CAROUSEL-------------------*/
.jumbotron {
  padding: 0px;
  margin-bottom: 5px;
}

.carousel-inner img {
  height: 20vh;
}
/*---------------END JUMBOTRON CAROUSEL----------------*/

/*--------------------IFRAME CARDS---------------------*/
iframe {
  display:block;
  width:100%;
  margin-top: 10px;
  height: 35vh;
}
/*------------------END IFRAME CARDS------------------*/
